!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.launch
*.log
*.sublime-workspace
.DS_Store
.c9/
.classpath
.project
.settings/
.vscode/*
/.docker/
/.env
/.idea
/.nyc_output
/coverage
/dist/
/node_modules
/package-lock.json
/temp
/yarn.lock
lerna-debug.log*
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
